{% extends 'portfolio/base.html' %}
{% load static %}
{% load mathfilters %}
{% load humanize %}
{% block content %}


<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <meta charset="UTF-8">
    <title>Eagle Financial Services</title>
</head>
<body>
 <header class="jumbotron my-4 table-responsive" style="background: white">
      <p class="lead text-nowrap"><b>Eagle Financial Services, your Midwest Financial Services Partner</b>

      </p>
 </header>

<div class="row">
    <h2 class="navbar-brand" style="padding-left: 15Px">Customer Portfolio</h2>
</div>

<div class="row">
 <h2 class="navbar-brand" style="padding-left: 15Px"><u>Overall Portfolio Performance</u></h2>

    <table class="table table-hover table-responsive-lg text-center">
        <thead>
        <tr class="bg-info">
            <th>Portfolio Initial Investments</th>
            <th>Portfolio Current Investments</th>
            <th>Grand Total Results</th>
        </tr>
        </thead>
        <tbody>
        <tr bgcolor="white">
            <td>{{ sum_acquired_value.acquired_value__sum |addition:sum_of_initial_stock_value|addition:sum_of_initial_mutual_value |intcomma}}</td>
            <td>{{ sum_recent_value.recent_value__sum |addition:sum_current_stocks_value |addition:sum_current_mutual_value|intcomma}}</td>
            <td>{{ sum_recent_value.recent_value__sum |addition:sum_current_stocks_value |addition:sum_current_mutual_value|sub:sum_acquired_value.acquired_value__sum |sub:sum_of_initial_stock_value|sub:sum_of_initial_mutual_value |intcomma }}</td>
        </tr>
        </tbody>
    </table>

    <h2 class="navbar-brand" style="padding-left: 15Px"><u>Stocks Information</u></h2>
    <table class="table table-hover table-responsive-lg text-center">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Initial Stock Value</th>
            <th>Current Stock Price</th>
            <th>Current Stock Value</th>
            <th>Results</th>
        </tr>
        </thead>
         <tbody>
            {% for stock in stocks %}
            <tr bgcolor="white">
                <td>{{ stock.customer }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares|intcomma }}</td>
                <td>{{ stock.purchase_price|intcomma }}</td>
                <td>{{ stock.initial_stock_value|intcomma }}</td>
                <td>{{ stock.purchase_price|intcomma }}</td>
                <td>{{ stock.current_stock_value|intcomma }}</td>
                <td>{{ stock.current_stock_value|sub:stock.purchase_price|intcomma  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <table class="table table-hover table-responsive-lg text-center">
        <thead>
        <tr class="bg-info">
            <th>Total Initial Stocks</th>
            <th>Total of Current Stocks</th>
            <th>Results</th>
        </tr>
        </thead>
            <tr bgcolor="white">
                <td>{{ sum_of_initial_stock_value|intcomma }}</td>
                <td>{{ sum_current_stocks_value|intcomma }}</td>
                <td>{{ sum_current_stocks_value|sub:sum_of_initial_stock_value|intcomma }}</td>
            </tr>
    </table>

     <h2 class="navbar-brand" style="padding-left: 15Px"><u>Investment Information</u></h2>

    <table class="table table-hover table-responsive-lg text-center">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Category</th>
            <th>Description</th>
            <th>Acquired Value</th>
            <th>Acquired Date</th>
            <th>Recent Value</th>
            <th>Recent Date</th>
            <th>Results</th>
        </tr>
        </thead>
        <tbody>
   {% for investment in investments %}
            <tr bgcolor="white">
                <td>{{ investment.customer }}</td>
                <td>{{ investment.category }}</td>
                <td>{{ investment.description }}</td>
                <td>{{ investment.acquired_value|intcomma }}</td>
                <td>{{ investment.acquired_date }}</td>
                <td>{{ investment.recent_value|intcomma }}</td>
                <td>{{ investment.recent_date }}</td>
                <td>{{ investment.recent_value|sub:investment.acquired_value|intcomma }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

        <table class="table table-hover table-responsive-lg text-center">
        <thead>
        <tr class="bg-info">
            <th>Total Initial Investments</th>
            <th>Total of Current Investments</th>
            <th>Results</th>
        </tr>
        </thead>
            <tr bgcolor="white">
                <td>{{ sum_acquired_value.acquired_value__sum }}</td>
                <td>{{ sum_recent_value.recent_value__sum }}</td>
                <td>{{ sum_recent_value.recent_value__sum|sub:sum_acquired_value.acquired_value__sum }}</td>

            </tr>
    </table>

    <h2 class="navbar-brand" style="padding-left: 15Px"><u>Mutual Funds Information</u></h2>
    <table class="table table-hover table-responsive-lg text-center">
        <thead>
        <tr class="bg-info">
            <th>Customer</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Initial Stock Price</th>
            <th>Initial Stock Value</th>
            <th>Current Stock Price</th>
            <th>Current Stock Value</th>
            <th>Results</th>
        </tr>
        </thead>
         <tbody>
            {% for mutual in mutuals %}
            <tr bgcolor="white">
                <td>{{ mutual.customer }}</td>
                <td>{{ mutual.symbol }}</td>
                <td>{{ mutual.name }}</td>
                <td>{{ mutual.shares|intcomma }}</td>
                <td>{{ mutual.purchase_price|intcomma }}</td>
                <td>{{ mutual.initial_mutual_value|intcomma }}</td>
                <td>{{ mutual.purchase_price|intcomma }}</td>
                <td>{{ mutual.current_mutual_value|intcomma }}</td>
                <td>{{ mutual.current_mutual_value|sub:mutual.purchase_price|intcomma  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <table class="table table-hover table-responsive-lg text-center">
        <thead>
        <tr class="bg-info">
            <th>Total Initial Mutual Funds</th>
            <th>Total of Current Mutual Funds</th>
            <th>Results</th>
        </tr>
        </thead>
            <tr bgcolor="white">
                <td>{{ sum_of_initial_mutual_value|intcomma }}</td>
                <td>{{ sum_current_mutual_value|intcomma }}</td>
                <td>{{ sum_current_mutual_value|sub:sum_of_initial_mutual_value|intcomma }}</td>
            </tr>
    </table>

</div>
</body>
</html>
{% endblock %}
